$black-color: #222222;
$black-color1: #000000;
$pink-color: #F16D7F;
$pink-color1: #FF6A6A;
$pink-color2: #EF5B70;
$pink-background: #F1E4E6;
$white-color: #FFFFFF;
$white-color1: #FBFBFB;
$white-color2: #F8F8F8;
$white-color3:#E1E1E1;
$white-color4:#F8F3F4;
$white-color5:#F7F7F7;
$grey-color: #9F9F9F;
$grey-color1: #5D5D5D;
$grey-color2: #636363;
$grey-color3:#6F6E6E;
$grey-color4:#B1B1B1;
$grey-color5:#575757;
$grey-color6:#EAEAEA;
$grey-color7:#E2E2E2;
$grey-color8: #4D4D4D;
$grey-color9:#EBEBEB;
$grey-pink-color: #F5F3F3;
$tablet-max:1599px;
$tablet-min:768px;
$phone-max:767px;
$phone-min:375px;