.cart__cards {
    @include position (flex, flex-start, space-between);
    margin-top: 96px;

    .cart__cards-list {
        @include box-size (653px, 685px);
        padding-bottom: 32px;

        .cart__cards-item {
            @include position (flex, flex-start, start);
            box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
            margin-bottom: 40px;
            animation: slide-bottom 1 2s;
            animation-direction: reverse;

            .cart__cards-item-discribe {
                @include box-size (320px, 262px);
                padding: 22px 0 0 30px;
            }

            .cart__cards-item-title {
                @include font (24px, 29px, 400, $black-color);
                text-transform: uppercase;
                @include box-size (200px, 58px);
                padding-bottom: 42px;
            }

            .cart__cards-item-feature {
                @include font (22px, 27px, 400, $grey-color5);
                text-transform: capitalize;
                padding-bottom: 6px;

                .cart__cards-item-feature-red {
                    color: $pink-color1;
                }
            }

            input[type="number"] {
                @include box-size (44px, 25px);
                outline: 1px solid $grey-color6;
                border: none;
                background-color: $white-color;
                @include font (18px, 22px, 300, $grey-color2);
                text-align: center;

                &:hover {
                    background-color: $pink-color;
                }
            }

            .cart__cards-item-form {
                @include font (22px, 27px, 400, $grey-color5);
                text-transform: capitalize;
            }

            .cart__cards-close {
                padding: 28px 0 0 0;
                @include box-size (20px, 20px);
                outline: none;
                border: none;
                background-color: $white-color;

                &:hover {
                    background-color: $pink-color;
                }
            }
        }
    }

    .cart__shipping-adress {
        @include box-size (362px, 633px);

        .cart__shipping-adress-title {
            margin: 0 0 20px 0;
            @include font (16px, 19px, 300, $black-color);
            text-transform: uppercase;
        }

        input[type="text"] {
            @include box-size (340px, 45px);
            background-color: $white-color;
            vertical-align: middle;
            border: 1px solid $grey-color4;
            outline: none;
            @include font(13px, 16px, 300, $grey-color1);
            padding: 0 0 0 16px;
            margin: 0 0 20px 0;
            display: block;

            &:hover {
                background-color: $pink-color;
            }
        }

        button[type="submit"] {
            @include box-size (101px, 35px);
            background-color: $white-color;
            vertical-align: middle;
            border: 1px solid $grey-color4;
            outline: none;
            @include font (11px, 13px, 300, $grey-color4);
            text-transform: uppercase;

            &:hover {
                border-radius: 30px;
            }

            &:active {
                background-color: $pink-color;
                color: $grey-color;
            }
        }

        .cart__shipping-sum {
            @include box-size (360px, 214px);
            background-color: $grey-pink-color;
            display: flex;
            flex-direction: column;
            margin-top: 63px;

            .cart__shipping-subtotal {
                @include font (11px, 13px, 400, $grey-color1);
                text-align: right;
                padding: 39px 34px 12px 0;
                text-transform: uppercase;
            }

            .cart__shipping-grand-total {
                @include font (16px, 19px, 300, $grey-color1);
                text-align: right;
                padding: 0 37px 21px 0;
                text-transform: uppercase;
            }

            hr {
                border: none;
                color: $grey-color;
                height: 1px;
                width: 275px;
                align-items: center;
                background-color: $grey-color7;
            }

            button[type="submit"] {
                @include box-size (273px, 50px);
                background-color: $pink-color;
                vertical-align: middle;
                border: none;
                outline: none;
                @include font (16px, 19px, 300, $white-color);
                text-transform: uppercase;
                margin: 0 auto;
                margin-top: 17px;

                &:active {
                    color: $pink-color;
                    background-color: $white-color;
                }

                &:hover {
                    color: $grey-color;
                    border-radius: 30px;
                }
            }
        }
    }
}

.cart__cards-submit {
    @include box-size (653px, 54px);
    @include position (flex, center, space-between);
    margin-bottom: 128px;

    button[type="submit"] {
        @include box-size (235px, 50px);
        background-color: $white-color;
        vertical-align: middle;
        border: 1px solid $grey-color4;
        outline: none;
        @include font (14px, 17px, 300, $black-color);
        text-transform: uppercase;

        &:active {
            color: $white-color;
            background-color: $pink-color;
        }

        &:hover {
            color: $pink-color;
            border-radius: 30px;
        }
    }
}

@media (max-width:$tablet-max) and (min-width:$tablet-min) {
    .cart__cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 59px;
        width: 100%;

        .cart__cards-list {
            width: 735px;
            padding-bottom: 22px;

            .cart__cards-item {
                width: 100%;
                justify-content: center;

                .cart__cards-item-discribe {
                    width: 400px;
                    padding: 22px 80px 0 30px;
                }

                .cart__cards-close {
                    margin-right: 20px;
                }
            }
        }
    }

    .cart__cards-submit {
        margin-bottom: 64px;
        width: 735px;
    }

    .cart__cards .cart__shipping-adress {
        @include box-size (100%, 270px);
        @include position (flex, flex-start, space-around);
        margin-bottom: 130px;
    }

    .cart__cards .cart__shipping-adress .cart__shipping-sum {
        margin-top: 38px;
    }

}

@media (max-width:$phone-max) and (min-width:$phone-min) {
    .cart__cards {
        @include position (flex, center, center);
        flex-direction: column;
        margin-top: 39px;
    }

    .cart__cards-users {
        width: 100%;
    }

    .cart__cards-list {
        @include box-size (100%, auto);
        padding: 0;
    }

    .cart__cards-item {
        margin-bottom: 32px;
        @include box-size (100%, auto);
        justify-content: center;
    }

    .cart__cards-pic {
        @include box-size (40%, auto);
    }

    .cart__cards-item-discribe {
        @include box-size (53%, auto);
        padding: 13px 0 0 17px;
    }

    .cart__cards-item-title {
        @include font (16px, 19px, 400, $black-color);
        @include box-size (135px, 36px);
        padding-bottom: 26px;
    }

    .cart__cards-item-feature {
        @include font (14px, 17px, 400, $grey-color5);
        text-transform: capitalize;
        padding-bottom: 4px;
    }

    .cart__cards-item input[type=number] {
        @include box-size (24px, 15px);
        @include font (10px, 12px, 400, $grey-color5);
    }

    .cart__cards-item-form {
        @include font (14px, 17px, 400, $grey-color5);
    }

    .cart__cards-close {
        padding: 17px 0 0 0;
        @include box-size (7%, auto);
    }

    .cart__cards-submit {
        margin-bottom: 58px;
        width: 100%;
    }

    .cart__cards-submit button[type=submit] {
        @include box-size (175px, 33px);
        @include font (12px, 14px, 400, $black-color);
    }

    .cart__shipping-adress {
        @include box-size (100%, 540px);
        flex-direction: column;
        align-items: center;
        margin-bottom: 96px;
    }
}