.filter {
    background-color: $white-color;
    width: 1600px;
    margin: 0 auto;

    .filter__list {
        display: flex;
        justify-content: start;
        padding: 51px 0 8px 0;
        position: relative;
    }

    .filter__menu {
        width: 360px;
    }

    .filter__menu-name {
        @include position (flex, start, start);

        &:hover {
            color: $pink-color;
        }
    }

    .filter__button {
        @include font (14px, 17px, 600, $black-color1);
        text-transform: uppercase;
        border-style: none;
        background-color: $white-color;
        padding: 0;
    }

    .filter__button:hover {
        color: $pink-color;
    }

    .filter__lines {
        padding: 3px 0 0 11px;
    }

    .filter__menu-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        z-index: 2;
        background-color: $white-color;
        left: -15px;
        display: none;
    }

    .filter__menu-list-item-link {
        @include position (flex, center, start);
        color: $grey-color3;
        text-decoration: none;
        width: 349px;
        height: 37px;
        background: $white-color;
        border-bottom: 1px solid $grey-color9;
        text-transform: uppercase;
        padding: 18px 17px 0 11px;
        position: relative;
        margin: 0;
    }

    .filter__menu-list-item-link::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 37px;
        background-color: $pink-color;
        left: 0;
    }

    .filter__menu-list-item-link:hover {
        color: $pink-color;
    }

    .filter__submenu-list {
        padding: 13px 0 0 11px;
        list-style-type: none;
    }

    .filter__submenu-list-item-link {
        @include font (14px, 28px, 400, $grey-color3);
        text-decoration: none;
        text-transform: capitalize;
        padding: 11px 0 0 0;
    }

    .filter__submenu-list-item-link:hover {
        color: $pink-color;
    }

    .filter__menu-name:hover+.filter__menu-list {
        display: block;
    }

    .filter__menu-list:hover {
        display: block;
    }

    .filter__item {
        @include position (flex, center, space-between);
        padding: 0 0 0 30px;
        list-style-type: none;
    }

    .filter__item-link {
        position: relative;
    }

    .filter__item-name {
        @include font (14px, 17px, 300, $grey-color2);
        padding: 0 0 0 28px;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: $white-color;

        &:hover {
            color: $pink-color;
        }
    }
}

.filter__item-name-submenu {
    position: absolute;
    min-width: 79px;
    min-height: 103px;
    display: none;
    margin: 0 0 0 20px;
    padding: 5px 0 0 5px;
    background-color: $white-color;
    z-index: 2;
}

.filter__item-choose {
    text-transform: uppercase;
    @include font (14px, 20px, 400, $grey-color2);
}

.filter__item-name:hover+.filter__item-name-submenu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    line-height: 22px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__item-name-submenu:hover {
    display: flex;
    justify-content: start;
    flex-direction: column;
    line-height: 22px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

@media (max-width:$tablet-max) and (min-width:$tablet-min) {
    .filter {
        width: 100%;

        .filter__list {
            @include position (flex, flex-start, space-between);
            padding: 24px 0 10px 0;
        }

        .filter__item {
            padding: 0;
        }
    }
}

@media (max-width:$phone-max) and (min-width:$phone-min) {
    .filter {
        width: 100%;
        .filter__list {
            @include position (flex, flex-start, space-between);
            padding: 24px 0 10px 0;
        }

        .filter__item {
            padding: 0;
        }

        .filter__button {
            display: none;
        }

        .filter__lines {
            @include box-size(38px, 25px);
        }

        .filter__item-name {
            @include font(12px, 14px, 300, $grey-color2);
        }
    }
}