.name {
    display: flex;
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

.name__nav {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
}

.name__nav-list {
    width: 232px;
    padding: 37px 0 0 34px;
    margin: 0;
    background-color: $white-color;
}

.name__nav-menu {
    @include font(14px, 17px, 700, $black-color1);
    text-transform: uppercase;
    list-style-type: none;
}

.name__nav-title {
    padding: 20px 0 0 0;
    list-style-type: none;
}

.name__nav-title-link {
    @include font(14px, 17px, 400, $pink-color);
    text-transform: uppercase;
    text-decoration: none;
    outline: none;

    &:hover {
        color: $grey-color3;
        font-weight: 700;

    }
}

.name__nav-submenu {
    padding: 0 0 0 21px;
}

.name__nav-item {
    padding: 11px 0 0 0;
    list-style-type: none;
}

.name__nav-item-link {
    @include font(14px, 17px, 300, $grey-color3);
    text-transform: capitalize;
    text-decoration: none;
    outline: none;

    &:hover {
        color: $pink-color;
        font-weight: 700;
    }
}

.name__pic {
    width: 50%;
    min-height: 765px;
}

.name__content {
    width: 50%;
    min-height: 765px;
    background-color: $pink-background;
}

.name:hover>.name__nav {
    display: flex;
}

.name__header {
    @include font(48px, 57px, 900, $black-color);
    text-transform: uppercase;
    position: relative;
    padding: 335px 0 0 92px;
    animation: text-focus-in 1 3s;

    &::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 93px;
        background-color: $pink-color;
        left: 64px;
    }

    .name__header-span {
        @include font(32px, 38px, 700, $black-color);
    }

    .name__header-span-red {
        color: $pink-color;
    }
}

@media (max-width:$tablet-max) and (min-width:$tablet-min) {
    .name {
        width: 100%;

        .name__nav {
            display: none;
        }

        .name__pic {
            @include box-size(50%, auto);

            .name__img {
                @include box-size(100%, auto);
            }
        }

        .name__content {
            @include box-size(50%, auto);
        }

        .name__header {
            @include font(44px, 53px, 900, $black-color);
            padding: 37% 0 0 18%;

            &::before {
                position: absolute;
                content: '';
                width: 12px;
                height: 92px;
                background-color: $pink-color;
                left: 40px;
            }
        }

        .name__header-span {
            @include font(24px, 29px, 700, $black-color);
        }
    }

    .name:hover>.name__nav {
        display: none;
    }
}

@media (max-width:$phone-max) and (min-width:$phone-min) {
    .name {
        width: 100%;

        .name__nav {
            display: none;
        }

        .name__pic {
            display: none;
        }

        .name__content {
            @include box-size(100%, auto);
        }

        .name__header {
            @include font(38px, 45px, 900, $black-color);
            padding: 41% 0 35% 22%;

            &::before {
                position: absolute;
                content: '';
                width: 12px;
                height: 62px;
                background-color: $pink-color;
                left: 56px;
            }
        }

        .name__header-span {
            @include font(20px, 24px, 700, $black-color);
        }
    }

    .name:hover>.name__nav {
        display: none;
    }
}