.registration__field {
    background-color: $white-color;
    width: 100%;
    margin: 0 auto;
    padding: 64px 0 0 0;
    display: flex;
    justify-content: start;

    .registration__field-item {
        width: 365px;
    }

    .registration__field-item>fieldset {
        border: none;
    }

    .registration__field-title {
        @include font(16px, 19px, 300, $grey-color4);
        padding: 0 0 20px 0;
        text-transform: capitalize;
    }

    .registration__field-gender {
        margin: 33px 0 35px 0;
    }

    input[type="text"] {
        @include box-size(340px, 45px);
        background-color: $white-color;
        vertical-align: middle;
        border: 1px solid $grey-color4;
        outline: none;
        @include font(13px, 16px, 300, $grey-color4);
        padding: 0 0 0 16px;
        margin: 0 0 20px 0;
        display: block;

        &:hover {
            background-color: $pink-color;
        }
    }

    input[type="email"] {
        @include box-size(340px, 45px);
        background-color: $white-color;
        vertical-align: middle;
        border: 1px solid $grey-color4;
        outline: none;
        @include font(13px, 16px, 300, $grey-color4);
        padding: 0 0 0 16px;
        margin: 0 0 20px 0;
        display: block;

        &:hover {
            background-color: $pink-color;
        }
    }

    input[type="password"] {
        @include box-size(340px, 45px);
        background-color: $white-color;
        vertical-align: middle;
        border: 1px solid $grey-color4;
        outline: none;
        @include font(13px, 16px, 300, $grey-color4);
        padding: 0 0 0 16px;
        margin: 0 0 20px 0;
        display: block;

        &:hover {
            background-color: $pink-color;
        }
    }
}

.registration__label {
    @include font(11px, 13px, 300, $black-color1);
}

.registration__notation {
    @include font(13px, 16px, 300, $black-color);
    padding: 0 0 39px 0;
    width: 360px;
}

.registration__submit {
    @include box-size(167px, 50px);
    margin: 0 0 96px 0;
    background-color: $pink-color;
    @include font(14px, 17px, 400, $white-color);
    outline: none;
    text-align: center;
    border: none;
    outline: none;
    text-transform: uppercase;

    &:hover {
        color: $black-color1;
    }
}

.registration__field-discribe {
    width: 650px;
    padding: 0 0 0 128px;

    .registration__field-discribe-title {
        width: 650px;
        @include font(24px, 29px, 300, $black-color1);
        text-transform: uppercase;
    }

    .registration__field-discribe-subtitle {
        width: 650px;
        @include font(24px, 29px, 300, $black-color1);
        padding: 22px 0 21px 0;
    }

    .registration__field-discribe-list {
        list-style-image: url(../img/registration-check.jpg);
        background-color: $white-color;
        padding-left: 40px;
    }

    .registration__field-discribe-perks {
        width: 650px;
        @include font(24px, 29px, 300, $black-color1);
        padding: 0 0 16px 0;
    }
}

@media (max-width: 1599px) and (min-width: 768px) {
    .registration__field {
        width: 100%;
        padding-top: 40px;
        justify-content: space-between;
    }

    .registration__field-discribe {
        width: 48%;
        padding: 0;

        .registration__field-discribe-title {
            width: 100%;
            @include font(16px, 19px, 300, $black-color1);
        }

        .registration__field-discribe-subtitle {
            width: 100%;
            @include font(16px, 19px, 300, $black-color1);
            padding: 32px 0 22px 0;
        }

        .registration__field-discribe-perks {
            width: 100%;
            @include font(16px, 19px, 300, $black-color1);
        }
    }

}

@media (max-width: 767px) and (min-width: 375px) {
    .registration__field {
        width: 100%;
        padding-top: 40px;
        flex-direction: column;
        align-items: flex-start;
    }

    .registration__field-discribe {
        width: 100%;
        padding: 0 0 100px 0;

        .registration__field-discribe-title {
            width: 100%;
            @include font(16px, 19px, 300, $black-color1);
        }

        .registration__field-discribe-subtitle {
            width: 100%;
            @include font(16px, 19px, 300, $black-color1);
            padding: 32px 0 22px 0;
        }

        .registration__field-discribe-perks {
            width: 100%;
            @include font(16px, 19px, 300, $black-color1);
        }

    }

    .registration__submit {
        margin-bottom: 40px;
    }
}