.subheader {
    background-color: $white-color4;
    width: 1600px;
    margin: 0 auto;
    min-height: 148px;
    display: flex;
    align-items: center;

    .subheader__name {
        @include font(24px, 29px, 400, $pink-color);
        text-transform: uppercase;
        animation: text-focus-in 1 1s;
    }

    .subheader__list {
        @include position(flex, center, space-between);
    }

    .subheader__item {
        @include position(flex, center, space-between);
        width: 211px;
    }

    .subheader__item-name {
        text-decoration: none;
        text-transform: uppercase;
        @include font(14px, 17px, 300, $grey-color3);
        outline: none;
    }

    .subheader__item-name:hover {
        color: $pink-color;
    }
}

@media (max-width:$tablet-max) and (min-width:$tablet-min) {
    .subheader {
        width: 100%;
    }
}

@media (max-width:$phone-max) and (min-width:$phone-min) {
    .subheader {
        width: 100%;

        .subheader__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .subheader__name {
            padding-bottom: 32px;
            text-align: center;
        }
    }
}